/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~@angular-mdc/theme/material";

body {
  margin: 0px;

  app-root {
    &:after {
      background-color: $mdc-theme-whatsapp-green;
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 127px;
      content: ' ';
      top: 0;
    }
  }

  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px
    }
  }
}

