<div class="chat-message-wrapper">
  <span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis lacus ut eros ullamcorper consequat. Duis
    fermentum nibh leo, ultricies elementum risus congue vel. Fusce egestas tempus risus, quis mattis nunc commodo a.
    Nulla nisi mi, cursus et nibh sed, vestibulum scelerisque nisl. Etiam laoreet mi rutrum, pharetra ligula sit amet,
    ullamcorper orci. Quisque neque lacus, malesuada vel lacinia vitae, gravida sodales urna. Quisque urna eros,
    fermentum id felis vel, pretium sollicitudin libero. Vestibulum vestibulum cursus leo at interdum.
  </span>
</div>
