<div class="container">
  <div class="canvas-content__drawer canvas-content__drawer--persistent">
    <mdc-drawer #persistent drawer='persistent' class="mdc-drawer--open">
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true">
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
            <a href="#/more" mdcRipple mdc-toolbar-icon material-icon>message</a>
            <a href="#/more" mdcRipple mdc-toolbar-icon material-icon>more_vert</a>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
      <mdc-list-group>
        <mdc-list>
          <app-chat-list></app-chat-list>
        </mdc-list>
      </mdc-list-group>
    </mdc-drawer>
    <div>
      <app-chat-message></app-chat-message>
    </div>
  </div>
</div>
