@import "../../../sass/variables";
@import "../../../../node_modules/@angular-mdc/theme/material";

.mdc-layout-grid {
  padding-top: 10px;
}

.canvas-wrapper {
  padding: 0;
  background-color: $mdc-theme-background;

  border-radius: 2px;
  
  mdc-toolbar {
    border-radius: 2px;
  }
}

section[role=chats] {
  border-right: 1px solid darken($mdc-theme-primary, 5);
}

section[role=messages] {

}
