@import "../../../sass/variables";

.whatsapp-chat-message-wrapper {
  padding: 10px;
  height: 100%;
  content: "";
  background: url("../../../assets/web/bg.png") repeat;
  opacity: 0.2;
  z-index: -1;
}
