@import "../../../sass/variables";
@import "../../../../node_modules/@angular-mdc/theme/material";

.whatsapp-chat-message-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  flex-direction: column;
  padding: 10px;
  min-height: $mdc-theme-whatsapp-canvas-min-height;
  * {
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../../assets/web/bg.png") repeat;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 0;
  }

  .whatsapp-type-box {
    display: flex;
    align-items: center;
    background-color: $mdc-theme-primary;
    width: 100%;

    .material-icons {
      @include mdc-icon-button-ink-color(lighten($mdc-theme-secondary, 20));
      padding: 0 15px 0 15px;
    }

    mdc-text-field {
      padding-left: 25px;
      background-color: $mdc-theme-background;
    }
  }

  .whatsapp-message-list {
    app-whatsapp-message:nth-child(even) {
    }
  }

}
